* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  color: #383c4a;
}

body {
  margin: 8px auto;
  background-color: #f9f9f9;
  text-align: center;
  max-width: 320px;
}

abbr {
  text-decoration: none;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 18px;
}

a,
p,
ul {
  font-size: 16px;
}

hr {
  max-width: 270px;
  margin: 16px auto;
  border: 0;
  border-bottom: 1px solid #878a92;
}

ul {
  padding: 0 0 0 22px;
  list-style-type: square;
}

a,
h2,
h3,
p,
ul {
  margin: 0;
  line-height: 200%;
}

table {
  border-collapse: collapse;
}

tr>td {
  padding: 0;
}

#table tr>td:nth-child(1) {
  text-align: right;
  width: 138px;
}

a.btn {
  color: #383c4a;
  border: 1px solid #383c4a;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  padding: 1px 12px;
  text-align: center;
  text-decoration: none;
  user-select: none;
}

@page {
  margin: 1cm 2cm;
}

@media print {
  body {
    margin: 0;
  }
  .hide-print {
    display: none;
  }
}
